

<h1>Splitter JS</h1>


<div id="verticalsplitter">
    <div>
        <h3>Top splitter content.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut dolor at odio egestas aliquam eget et dui. Proin consectetur eu ante sit amet fringilla. Praesent vel sagittis est. Curabitur nunc velit, pretium in metus sit amet, dictum pharetra urna. Sed tincidunt, nulla at efficitur laoreet, odio ante laoreet erat, vel dapibus nisl ligula egestas orci. Sed arcu odio, ornare ac egestas a, tincidunt nec augue. Nunc pretium libero dolor. Suspendisse et nunc odio. Etiam a dapibus tortor. Cras convallis enim quis risus ultricies luctus. Curabitur ipsum ligula, consequat sit amet sollicitudin vitae, semper in metus. Mauris eu mi non erat dictum commodo at sed purus.</p>
    </div>

    <div>
        <h3>Bottom splitter content.</h3>
        <p>Donec laoreet ligula eget velit volutpat tempus. Cras a turpis volutpat, dictum ex et, imperdiet nisl. Fusce finibus auctor magna vitae iaculis. In mollis lacus eros, at dignissim nulla ullamcorper a. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi volutpat mollis tempus. Vivamus iaculis rhoncus lorem id facilisis. Sed posuere non velit non euismod. Maecenas condimentum scelerisque eros vel sagittis. Donec vitae vulputate lorem. Praesent rhoncus faucibus turpis, at porttitor tellus maximus at. Duis a arcu eget nunc vehicula interdum sit amet accumsan lorem. Maecenas imperdiet quam libero, ut vulputate nisi tempus nec.</p>
    </div>
</div>



<script>
    //$(document).ready(function () {
    //    $("#verticalsplitter").kendoSplitter({
    //        orientation: "vertical",
    //        panes: [
    //            { collapsible: true, size: "200px", scrollable: false },
    //            { collapsible: true }
    //        ]
    //    });
    //});
</script>
